<% unless @users.nil? || @users.count.eql?(0) %>
<p class="alert"><%= @notice unless @notice.nil? %></p>
<% end %>
<%= render :partial => "search_form" %>
<% if @users.nil? %>
	<h3>No user found</h3>
<% else %>
<p> Found <%=@users.count %> <%= (@users.count < 2) ? "user" : "users" %></p>
	<ul>
		<% @users.each do |user| %>
			<li>
			<%= image_tag(user.user_avatar.url,:size => "40x40") if user.user_avatar.present?  %>
			<%= link_to user.name, user_path(user.id) %>
			</li>
			<hr/>
		<% end %>
	</ul>
<% end %>