<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag(@user.user_avatar.url, :size => "60x60") if @user.user_avatar.present? %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <% @microposts.each do |micropost| %>
        <ol class="microposts">
        <%#= render @microposts %>
          <%= micropost.content %><br/>
          <% if current_user.following?(@user) %>
            <%= render :partial=> "comment_form", :locals => {:micropost_id => micropost.id} %>
          <% end %>  
          <% unless micropost.comments.blank? %>
            <% micropost.comments.each do |comment| %>
              <%= render :partial => "comments", :locals => {:comment => comment}  %>
            <% end %>
          <% end %>  
        </ol>
      <% end %>

      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".comment_form").on('click', function(){
      var div_no = this.id;
      $("."+ div_no).toggle("slow");
    });
  });
</script>