<li id="<%= feed_item.id %>">
  <%= image_tag(current_user.user_avatar.url, :size => "60x60") if current_user.user_avatar.present? %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <div id="butn"><button class="btn btn-small" type="button"><% if current_user?(feed_item.user) %>
    <%= link_to "Delete",  feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %></button>
  <button class="btn btn-small" type="button"><%= link_to "Show comments"%></button></div>
  <% end %>
</li>