<a href="<%= user_path(current_user) %>">
<%= image_tag(current_user.user_avatar.url,:size => '60x60') if current_user.user_avatar.present? %>
</a>

<h1>
	<%= current_user.name%>
</h1>
<span><%= link_to "View my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count,"micropost")%></span>